<%- include('partials/header') %>

<section class="section">
  <div class="container center">
    <h1>404</h1>
    <p><%= t.errors.notFoundText %></p>
    <a href="<%= withLang('/') %>" class="btn btn-primary"><%= t.buttons.goHome %></a>
  </div>
</section>

<%- include('partials/footer') %>
